.shop-container{
    width: 700px;
    text-align: left;
}

.form-name-container{
   width: 300px;
   height: 70px;
   text-align: left;
   display: inline-block;
   margin: 10px;
}

.form-name{
    width: fit-content; 
    margin-bottom: 6px;
}

.from-name-input{
    margin: 10px;
}

.form-name-input input[type="text"]{
    width: 100%;
    height: 35px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    letter-spacing: 1.2px;
    word-spacing: normal;
   
    
}

.form-amnt-container{

    width: 100px;
    height: 70px;
    text-align: left;
    display: inline-block;
 }
 
 .form-amnt{
     width: fit-content; 
     margin-bottom: 6px;
 }
 
 .from-amnt-input{
     margin: 10px;
 }
 
 .form-amnt-input input[type="number"]{
     width: 100%;
     height: 35px;
     padding: 12px 20px;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
     font-size: 14px;
     letter-spacing: 1.2px;
     word-spacing: normal;
     
 }
 .form-btn-container{
     width: 300px;
     margin-left: 10px;
 }

 .form-btn-add{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
 }

 .form-btn-delete{
    background-color: rgb(228, 54, 68); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
 }

 .form-btn-clear{
    background-color: rgb(36, 58, 128); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
 }

 .list-container{
     width: 600px;
     margin-top: 60px;
     margin-left: 10px;
 }

 .list-item{
     height: 30px;
     border-top: 1px solid rgb(190, 185, 185);
     border-left: 1px solid rgb(190, 185, 185);
     border-right: 1px solid rgb(190, 185, 185);
     font-weight: lighter;
     padding-top : 10px;
     padding-left: 10px;
 }
 .list-item-last{
    border-bottom: 1px solid rgb(190, 185, 185);
 }