
.header-container{
    background-color: rgb(240, 245, 244);
    height: 38px;
   border-bottom : 1px solid rgb(192, 184, 184);
    cursor: pointer;
    overflow: hidden;
  
}

.header-title{
    width: 150px;
    height: 100%;
    margin: auto;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    color : rgb(95, 93, 93);
    margin-right: 10px;
}
.header-title-txt{
    margin-top: 10px;
    background: none;
    border: none;
}
.auth{
    width: 105px;
    height: 100%;
    padding: 5px;
    /* transform: translateY(-12px); */
    display: inline-block;
    font-size: 14px;
    color : rgb(95, 93, 93);
}

.auth-txt{
    margin-top: 10px;
    border: none;
    
}
.auth-link{
    height: 100%;
    text-decoration: none;
    color: rgb(70, 65, 65);
    letter-spacing: 1.2px;
}
.recipes{
    width: 70px;
    height: 100%;
    
    /* transform: translateY(-12px); */
    display: inline-block;
    font-size: 14px;
    color : rgb(95, 93, 93);
    margin-right: 10px;   
}

.recipes-txt{
    margin-top: 10px;
    /* background: none; */
    border: none;
}
.recipes-link{
    text-decoration: none;
    color: rgb(70, 65, 65);
    letter-spacing: 1.2px;
}
.shopping-list{
    width: 105px;
    height: 100%;
    padding: 5px;
    /* transform: translateY(-12px); */
    display: inline-block;
    font-size: 14px;
    color : rgb(95, 93, 93);
}

.shopping-list-txt{
    margin-top: 10px;
    /* background: none; */
    border: none;
}
.shopping-list-link{
    text-decoration: none;
    color: rgb(70, 65, 65);
    letter-spacing: 1.2px;
}
.logout{
    width: 70px;
    height: 100%;
    display: inline-block;
    margin-left: 45%;
    font-size: 14px;
    color : rgb(95, 93, 93);
    margin-right: 10px;  
}

.logout-txt{
    margin-top: 10px;
    /* background: none; */
    border: none; 
}

.manage{
    width: 70px;
    height: 100%;
    display: inline-block;
    font-size: 14px;
    color : rgb(95, 93, 93);
    margin-right: 10px;  
}

.manage-txt{
    margin-top: 10px;
    /* background: none; */
    border: none; 
}
