

.form-container{
   width: 600px;
   height: 160px;
   text-align: left;
}
.form-email-text{
    height: 40px;
    display: block;
}

.form-email-input{
    margin-top:5px;
    display: block;
    width: 800px;
    margin-bottom: 5px;
    
}

.form-email-input input{
    width: 600px;
    height: 35px;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: 1.2px;
}

.form-paswd-text{
    height: 40px;
    display: block;
   
   
}

.form-paswd-input{
    margin-top:5px;
    display: block;
    width: 800px;
}

.form-paswd-input input[type="password"] {
    width: 600px;
    height: 35px;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: 1.2px;
    word-spacing: normal;
 
}


.form-btn-container{
    width: 300px;
   text-align: left;
}

.form-btn-login{
   background-color: rgb(66, 68, 223); /* Green */
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 13px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 10px;
}

.form-btn-switch{
   background-color:rgb(66, 68, 223); /* Green */
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 13px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 10px;
}
